@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'MontserratReg';
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_24pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'InterSemi';
    src: url('/fonts/Inter_24pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'InterBold';
    src: url('/fonts/Inter_24pt-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemi';
    src: url('/fonts/NotoSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansBold';
    src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@layer utilities {
    .font-montserratreg {
        font-family: 'MontserratReg', sans-serif;
    }
    .font-montserrat {
        font-family: 'Montserrat', sans-serif;
    }

    .font-inter {
        font-family: 'Inter', sans-serif;
    }

    .font-intersemi {
        font-family: 'InterSemi', sans-serif;
    }

    .font-interbold {
        font-family: 'InterBold', sans-serif;
    }

    .font-notosans {
        font-family: 'NotoSans', sans-serif;
    }

    .font-notosanssemi {
        font-family: 'NotoSansSemi', sans-serif;
    }

    .font-notosansbold {
        font-family: 'NotoSansBold', sans-serif;
    }
}